body {
	background: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.landing {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.detailImage {
	opacity: 0.2;
}

.landing #word1 {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
}

.landing #word2 {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: 0.2s;
}

.landing #word3 {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: 0.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
	40%, 100% {
		transform: translateY(0px);
	}
}
